.App {
  text-align: center;
}

.active{
  color: blue;
}

.recover{
  color: green;
}

.cases{
  color: red;
}

.tcases{
  color: #8b0000;
}

.deaths{
  color: rgb(23, 26, 14);
}

.tdeaths{
  color: blueviolet;
}

.country{
  font-weight: bold;
  background-color: #707070;
  color: white;
}

.hcountry{
  background-color:#707070;
  color: white;
}

.htdeaths{
  background-color: rgb(138,43,226,0.2);
  color: rgb(138,43,226);
}

.hdeaths{
  background-color: rgb(23, 26, 14,0.2);
  color: black;
}

.hcases{
  background-color: rgb(255,0,0,0.2);
  color:red ;
}

.htcases{
  background-color: rgb(139,0,0,0.2);
}

.hrecover{
  background-color: rgb(0,255,0,0.2);
  color: rgb(0,128,0);
}

.hactive{
  background-color: rgb(0,0,255,0.2);
  color: #0000ff;
}

